    *{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    body{
        background-color: #1c1c1c;
    }
    /*Navbar*/
    .navbar-nav {
        display: flex;
        justify-content: flex-end; 
        margin-left: auto;
    }
    .nav-item{
        margin-right: 50px;
        font-size: 21px;
        font-weight: 500;
    }
    .navbar-brand h4{
        font-weight: 700;
        text-transform: uppercase;
        color: white;
        font-size: 33px;
    }
    .navbar-brand{
        margin-left: 50px;
    }
    .navbar{
        background-color: black ;
        height: 80px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }
    .navbar-nav .nav-item .nav-link.active{
        color:white;
    }
    .navbar-nav .nav-item .nav-link:hover::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0px;
        bottom: 0px;
        height: 3px;
        align-self: center;
        background-color: white;
    }
    .onside::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0px;
        bottom: 0px;
        height: 3px;
        align-self: center;
        background-color: white;
    }
    .navbar-nav .nav-item .nav-link {
        position: relative; 
    }

    /*Project*/
    .project{
        height: fit-content;
        background-color: #1c1c1c;
    }
    .project .headtitle{
        color:  rgb(204, 201, 201) ;
    }
    .project .headtitle h1{
        font-size: 60px;
        position: relative;
    }
    .project .headtitle h1::after{
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -2px;
        height: 4px;
        width: 21%;
        background-color:darkolivegreen;
    }
    .project .headtitle p {
        padding-top: 40px; 
        margin-bottom: 0;
    }
    .p-box
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.08);
        border-radius: 10px;
        margin: 0px 20px;
    }
    .p-img-ctn
    {
        height: 140px;
        display: flex;
        overflow: hidden;
        border-radius: 8px;
    }
    .p-img a, .p-img
    {
        width: 100%;
        height: 100%;
        display: flex;
    }
    .p-img a img
    {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: contain;
        animation: fade 0.6s;
    }
    .p-img-back
    {
        display: none;
    }
    .p-img-ctn:hover .p-img-back
    {
        display: block;
    }
    .p-img-ctn:hover .p-img-front
    {
        display: none;
    }
    .p-detail{
        padding: 5px;
        background-color: rgb(57, 52, 52);
        width: 100%;
        margin-top: 10px;
        border-radius: 8px;
    }
    .p-detail .p-title{
        display: flex;
        justify-content: space-between;
    }
    .p-detail .p-title span{
        color: rgb(204, 201, 201);
        font-size: 15px;
    }
    .p-detail .headtitle{
        font-size: 30px;
    }
    .briefintro{
        color: rgb(204, 201, 201);
        font-size: 12px;
    }
    .all{
        padding-top: 40px;
    }
    .btn
    {
        display: flex !important;
        justify-content: flex-end;
        width: 100%;
        margin: 30px auto 10px auto;
        padding: 0 10px;
    }
    .btn button{
        position: static !important;
        transform: translate(0,0);
        background-color: #f3f3f3;
        width: 80px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        border: 1px solid #cfcfcf;
        border-radius: 4px;
    }
    .p-box a{
        text-decoration: none;
    }
    .allproject{
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .allproject .gh{
        padding: 13px;
        justify-content: space-between;
        border:2px solid white;
        text-decoration: none;
        color: white;
        border-radius: 7px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }
    .gh:hover{
        color: black;
        background-color: white;
    }
    .gh:hover svg{
        fill: black;
    }

    @keyframes fade
    {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    

    /*RESPONSIVE*/
    @media(max-width: 1024px)
    {
        .project{
            height:100vh;
            background-color: #1c1c1c;
        }
        .navbar{
            height: auto;
        }
        .p-detail .p-title{
            margin-bottom: 10px;
            text-align: center;
            display: block;
        }
    }